{% extends "base.html" %}

{% block title %}
Decision Tree #1
{% endblock %}


{% block content %}

<div class="page-header">

    <div>

        <h2>
            <i class="fa-solid fa-diagram-project me-2"></i>
            Decision Tree #1
        </h2>

        <p>
            Visualisasi salah satu pohon keputusan dari model Random Forest.
        </p>

    </div>

</div>


<div class="card">

    <div class="card-header">

        <i class="fa-solid fa-sitemap text-success me-2"></i>

        Visualisasi Pohon Keputusan

    </div>


    <div class="card-body text-center">

        <div class="table-responsive">

            <img
                src="data:image/png;base64,{{ img_tree }}"
                class="img-fluid rounded"
            >

        </div>

    </div>

</div>

{% endblock %}